{% extends 'base.html.twig' %}

{% block title %}Edit article{% endblock %}

{% block body %}
    <h1 class="fs-1 fw-bold">Edit article</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}